{%load static%}
   {%for content in section.content.content_sections%}
        <!-- Content section -->
        <section {%if content.id%} id="scroll" {%endif%}>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="{{content.img_div_class}}">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{%static content.img_src%}" alt="{{content.img_alt}}" /></div>
                    </div>
                    <div class="{{content.text_div_class}}">
                        <div class="p-5">
                            <h2 class="display-4">{{content.title}}</h2>
                            <p>{{content.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endfor%}